body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.header{
    height: 400px;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.menu{
    border: 1px solid white;
 
    color: white;
    width:900px;
    height:100px;
    display:flex;
    align-items: center;
}

.logo{
    font-size: 24px;
    margin-right: auto;
    font-weight: 900;
}

.content1{
    border: 1px solid white;
    flex:1;
     width:900px;
}

ul{
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 24px;
}