body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.top{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    align-items: center;
   
}

.header-logo{
    color: #f9f8fa;
}

ul{
    display: flex;
    color: #e5e7eb;
    list-style-type: none;
    gap: 20px;
}